.screen {
  width: 100%;
  position: relative;
  left: 0;
}

.screen#self-introduction {
  z-index: 2;
}

img {
  width: 100%;
  float: left;
  margin-right: auto;
}

.big-name {
  position: absolute;
}

button#know-button {
  z-index: 3;
  position: absolute;
}

.screen h1.big-name {
  overflow-x: visible;
  z-index: 1;
  opacity: 0.5;
  color: red;
}
.screen div#self-introduction {
  position: absolute;
}

div.show {
  background-color: whitesmoke;
}
