.screen {
  position: relative;
  top: 0;
  left: 0;
}

.screen #self-introduction {
  position: absolute;
}

img {
  max-width: 100%;
  float: left;
  margin-right: auto;
}

.big-name {
  position: absolute;
}

button {
  z-index: 6;
  float: left;
}

.screen h1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.screen .me {
  position: absolute;
}
